
<h1 *ngIf="!movie">loading</h1>
<section *ngIf="movie"  class='movieDetail' [style.backgroundImage]=" 'url(https://image.tmdb.org/t/p/w300' + movie.backdrop_path +')' ">
  <div class='movie'>
    <img class='poster' [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt='' />

    <div class='data'>
      <h1>{{movie.title}}</h1>
      <h3>Adults: {{movie.adult ? 'Yes': 'No'}}</h3>
      <div class='release'>{{movie.release_date}}</div>
      <a href="" target='_blank'>
        homepage
      </a>
      <p>{{movie.overview}}</p>
      <div class='genres' >
        <span *ngFor="let genre of movie.genres">
          {{genre.name}}
        </span>
      </div>

      <div class='moreInfo'>
        <div class='vote_average'>
          Vote average: <span class='big'>{{movie.vote_average}}</span>
        </div>
        <div class='vote_count'>Vote count: {{movie.vote_count}}</div>
        <div class='popularity'>Popularity: {{movie.popularity}}</div>
        <div class='budget'>Budget: $ {{movie.budget}}</div>
        <div class='revenue'>Revenue: $ {{movie.revenue}}</div>
      </div>
    </div>
  </div>
  <div class='related' *ngIf="related">
    <h2>Related:</h2>
    <app-movies-display [films]="related" ></app-movies-display>
  </div>
</section>
